[2016-10-20 07:44] appleboy opened #1 "Support display response message from command."

[2016-10-20 07:56] #1 closed

[2016-11-19 14:35] appleboy opened #3 "Support load env from file."

[2016-11-21 03:19] #3 closed

[2016-11-24 13:58] mjwwit opened #5 "Using multiple source files results in error"
According to the docs you are allowed to have multiple source files to copy to a remote host:
[code]
But actually doing so results in an error:
[code]

[2016-11-29 07:33] appleboy commented on #5
hi @mjwwit

I create new PR #6 to fixe this issue. Please update your image by following command.

[code]

Thanks.

[2016-11-29 07:33] #5 closed

[2016-11-29 07:45] appleboy commented on #5
hi @mjwwit

You can just add `pull` flag:

[code]

[2016-12-05 01:14] appleboy opened #7 "Support multiple host."

[2016-12-05 01:14] appleboy opened #8 "Support multiple target."

[2016-12-05 02:08] appleboy opened #9 "Support rm flag"
remove target folder before uploading.

[2016-12-05 03:08] #9 closed

[2016-12-07 11:24] amsdard opened #11 "unable to authenticate with password"
Hi,

I'm trying to authenticate only with password, but it fails:

2016/12/07 11:14:23 scp file to remote server remote server.
2016/12/07 11:14:27 ssh: handshake failed: ssh: unable to authenticate, attempted methods [password none], no supported methods remain
ssh: handshake failed: ssh: unable to authenticate, attempted methods [password none], no supported methods remain

password/username is

[2016-12-14 15:28] appleboy commented on #11
I will take it.

[2016-12-19 07:28] #7 closed

[2016-12-19 08:42] #8 closed

[2016-12-27 03:26] appleboy opened #14 "Support go routine"
Using WaitGroup

[2016-12-27 06:38] #14 closed

[2016-12-27 07:29] appleboy commented on #11
@amsdard authenticate with password is working for me. Please check your password again.

[2016-12-27 07:29] #11 closed

[2016-12-28 03:06] appleboy opened #16 "Add release tool."
Like [drone-line](https://github.com/appleboy/drone-line) repo.

[2016-12-28 03:41] #16 closed

[2016-12-30 02:44] appleboy opened #18 "Add ssh testing."

[2016-12-30 04:43] #18 closed

[2017-01-06 03:24] appleboy opened #22 "Missing drone document"

[2017-01-06 04:07] #22 closed

[2017-01-27 14:15] josegomezr opened #24 "Templates not evaluating"
According to DroneCI Docs on [Drone-SCP](http://plugins.drone.io/appleboy/drone-scp/#template-reference) its possible to use templates.

Nevertheless, those aren't evaluated at all. For example your Plugin [Drone-Telegram](https://github.com/appleboy/drone-telegram) have those too, and they evaluate just perfectly.

It'll be great to have them working for parameters like `target`, `username` or `k

[2017-01-27 16:18] appleboy commented on #24
Hi @josegomezr

You can try the following config.

[code]

ref: http://readme.drone.io/usage/environment-reference/

[2017-01-29 05:23] appleboy opened #25 "Add timeout flag"

[2017-01-29 05:56] #25 closed

[2017-02-04 12:46] asaf opened #30 "'drone-scp error: Process exited with status 1 0s exit code 1 notify 1'"
Hey,

I'm trying to use this plugin but I get:

[code]

I guess it fails to create the folder, any clue?

Thanks

[2017-02-04 12:55] appleboy commented on #30
@asaf Please check you have permission to create folder.

[2017-02-04 12:59] asaf commented on #30
@appleboy yea i do, I can sftp using the same credentials and create folders.

[2017-02-04 13:02] asaf commented on #30
Apologies, I had one missing level folder in the tree,

Now I see:

[code]

[2017-02-04 13:07] appleboy commented on #30
Can you try another server out? I can't reproduce this error on my machine.

[2017-02-04 13:14] asaf commented on #30
It seems like my ssh server sometimes return connection reset due to some mixture between pass/key auths, not sure, seems like it has nothing to do with this plugin :-)

Unrelated to this issue, before I close it, I was wondering,

The artifact created by our 'Makefile' is always static name, while I'd like to publish an artifact with a name such as app_TAG

Is that possible? I can't see a way to

[2017-02-04 13:19] appleboy commented on #30
@asaf

You can user GIT tag on Makefile. Try `${DRONE_TAG}` variable. Find all variables on http://readme.drone.io/usage/environment-reference/

[2017-02-04 13:21] asaf commented on #30
@appleboy yea that will work too, i was wondering if I can just do target/newFileName (but it seems that target is just the folder name)

Maybe it makes more sense to let the artifact generate step to take care of the name instead of making the transfer plugin rename the file.

Thanks @appleboy :-)

great work btw,

[2017-02-04 13:32] appleboy commented on #30
@asaf You can try drone-ssh plugin https://github.com/appleboy/drone-ssh. What is your scenario? Why you need to change the file name?

[2017-02-04 14:11] asaf commented on #30
There are two options to publish artifacts with tag name.

1. To make the Makefile append the `DRONE_TAG` to the final artifact
1. Make the transfer tool (such as this SCP one) to transfer artifact -> /artifact-DRONE_TAG.

so that's fine, i'll modify the Makefile to generate the correct artifact name with TAG postfix and make the SCP plugin just send it as is.

Thanks

[2017-02-10 00:15] asaf commented on #30
@appleboy back to this, looking at the [makefile](https://github.com/appleboy/drone-scp/blob/master/Makefile#L83) of this project, $VERSION is a dynamic calculated makefile variable which may contain `tag` or `commit id`,

I was wondering if it's possible to somehow make the SCP plugin aware of this variable in order to push the generated file via SCP,

Thanks.

[2017-02-10 00:57] appleboy commented on #30
@asaf

You can try the following example:

[code]

[2017-02-10 10:50] asaf commented on #30
the `tags: true` should set the DRONE_TAG env var? I added this step to the pipeline, DRONE_TAG doesn't exist.

[2017-02-10 14:40] appleboy commented on #30
@asaf My apologies. You can refer to Makefile of Gorush project. https://github.com/appleboy/gorush/blob/master/Makefile#L22-L26

Thanks.

[2017-02-10 14:52] appleboy commented on #24
I close this issue now. Please feel free to reopen the issue if you have the same problem.

[2017-02-10 14:52] #24 closed

[2017-02-10 14:53] asaf commented on #30
@appleboy That's what I've meant, lets say you do have a Makefile that calculates the version,

How do I make the SCP plugin aware of this 'VERSION' variable available in the Makefile?

I tried to export the VERSION from Makefile and access it in the .drone.yml file as ${VERSION} but it doesn't work.

Thanks.

[2017-02-10 15:09] appleboy commented on #30
One way is creating multiple tasks as following:

[code]

Another way is implementing this feature to support `VERSION` variable but you need to tell me what format of `VERSION` variable clearly.

[2017-02-11 10:57] asaf commented on #30
@appleboy yea that will work,
I don't think we should make the SCP plugin aware of a specific versioning template,

I'll try to talk with Drone folks, maybe there is a way to read exported variables from Makefile,

Does it make sense to support wildcards in this SCP plugin in source field?

such as `release*.tar.gz` ? that would just pick up any file that matches the criteria,

Thanks

[2017-02-11 13:27] appleboy opened #31 "Support wildcard string for source variable."
As title.

cc @asaf

[2017-02-11 13:29] appleboy commented on #30
@asaf

I create another issue to track `wildcards feature`. I think we should close this issue.

Thanks.

[2017-02-12 08:38] asaf commented on #30
@appleboy yes indeed, closing :-)

[2017-02-12 08:38] #30 closed

[2017-02-12 08:53] appleboy opened #33 "Switch glide to govendor"
https://github.com/kardianos/govendor

[2017-02-12 09:51] #33 closed

[2017-02-12 09:56] appleboy opened #35 "remove glide from drone config."

[2017-02-13 02:29] #35 closed

[2017-02-13 03:09] #31 closed

[2017-02-13 06:06] appleboy commented on #31
@asaf

Could you help try the wildcard list feature?

tag 1.3.0 https://hub.docker.com/r/appleboy/drone-scp/tags/

[2017-02-13 08:24] asaf commented on #31
@appleboy yea, will report on this threat the results.

[2017-02-13 18:39] asaf commented on #33
@appleboy just from curiosity, why switching glide to govendor?

[2017-02-13 18:49] asaf commented on #31
@appleboy works!

[2017-02-14 01:41] appleboy commented on #33
@asaf `glide` can't update `gopkg.in` package automatically. I want to update a package `drone-scp` used but glide will update all dependency package.

[2017-02-14 01:43] appleboy commented on #31
@asaf Thanks for your confirmation.

[2017-02-14 01:48] appleboy commented on #33
@asaf I will try the google vendor tool https://github.com/golang/dep

[2017-02-14 01:51] appleboy opened #38 "Improve code coverage for easyssh."

[2017-02-14 04:33] #38 closed

[2017-02-14 08:55] asaf commented on #33
@appleboy really? they mentioned it's fully supported, I didn't know.
I also find it odd committing any external dependencies (the `vendor` folder) into the repo,
and yes, golang/dep looks promising, worth a try :-)

[2017-03-04 06:43] appleboy opened #44 "Replace easyssh with easyssh-proxy"
https://github.com/appleboy/easyssh-proxy

[2017-03-06 04:35] #44 closed

[2017-03-06 04:37] appleboy opened #46 "Support SSH Proxy Command."

[2017-03-06 06:43] #46 closed

[2017-03-07 02:25] appleboy opened #48 "Remove temp file when encounter errors"
Remove temp file when encountering errors after copy file to remove machine.

[2017-03-17 10:27] jhasse opened #50 "Debug mode not working"
I'm getting

[code]

and tried to debug that by setting `debug` to `true`:

[code]

I've also tried setting it via a simple `.drone.yml`, but the output stays the same :/

[2017-03-17 14:38] appleboy commented on #50
I have not implemented `debug` mode. I will take it asap.

[2017-03-25 09:23] #48 closed

[2017-04-15 08:06] appleboy opened #58 "Upgrade easyssh-proxy for security issue."

[2017-04-15 12:45] #58 closed

[2017-04-19 15:45] lcnja commented on #50
2017/04/19 14:51:25 172.16.218.238: scp file to server.
drone-scp error:  error copy file to dest: 172.16.218.238
drone-scp error:  error copy file to dest: 172.16.218.238
error copy file to dest: 172.16.218.238
error copy file to dest: 172.16.218.238
1

how to debug?

[2017-04-19 15:48] lcnja commented on #50
scp:
    image: appleboy/drone-scp
    host: 172.16.218.238
    port: 22
    username: root
    password: ${passwd}
    target: /vmfs/volumes/vms1/iso
    source: ./*.iso
    when:
      status: success

[2017-04-20 08:23] appleboy opened #61 "Warning message if set password and key at the same time"
As title

[2017-04-21 08:38] #61 closed

[2017-04-27 16:50] bradrydzewski opened #64 "do not include source path in target destination"
I have the following configuration

[code]

It copies `release/some-binary` to `/usr/local/bin/release/some-binary`

If I were using scp, I would expect that it copies `release/some-binary` to `/usr/local/bin/some-binary` and does include the source path in the target destination.

[2017-04-28 01:10] appleboy commented on #64
I will take it.

[2017-04-30 15:18] #64 closed

[2017-04-30 15:19] appleboy commented on #64
@bradrydzewski Try the following config:

[code]

Remove the specified number of leading path elements.

[2017-05-14 09:47] appleboy opened #66 "upgrade easyssh-proxy package"

[2017-05-14 09:48] appleboy opened #67 "upgrade drone config to 0.6"

[2017-05-14 10:22] #67 closed

[2017-05-14 10:28] #66 closed

[2017-07-27 14:11] appleboy opened #72 "Add SSH_KEY env"

[2017-07-28 01:03] #72 closed

[2017-08-15 19:31] alexanderwink commented on #50
Any progress on this? It's very hard to find out whats going wrong e.g. when using wildcards in source list

[2017-08-18 10:13] scippio opened #74 "how to use with private ssh key?"
I'm trying this setup:
[code]
but still habe some errors like:
`ERROR: Error response from daemon: invalid environment variable:..`
etc...

or
`drone-scp error:  error copy file to dest: example.com, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain`

EDIT: I paste my private key via drone web admin:
DEPLOY_KEY + and paste outp

[2017-08-18 14:00] scippio commented on #74
Ok... it's functional now... I must add secret key via cli `drone secret add --repository my/repo --name DEPLOY_KEY --value @/home/....rsa.key`

and in my .drone.yml:
`
secrets:
      - source: DEPLOY_KEY
        target: scp_key
`

please update documentation :+1:

[2017-08-27 02:29] Blackrose opened #75 "Support drone ci secret method"
Hi, i use drone-scp with drone to auto build my task.And I follow the document(http://plugins.drone.io/appleboy/drone-scp/) to setting username and password is work fine in drone.yml file.But i doesn't want write plaintext the username and password in that file.Did the drone-scp support secret method of drone?Thanks

[2017-10-23 06:56] lucischen commented on #74
Hi @scippio

I add
`drone secret add --repository my/repo --name deploy_key --value @/home/machine01/.ssh/id_rsa`
and in my .drone.yml:
`secrets: - source: deploy_key target: scp_key`

but it throw

I'm confused. what's scp_key here?

[2017-10-23 08:46] appleboy commented on #74
[code]

[2017-10-23 09:18] fenixwu commented on #74
@lucischen
I only set deploy_key like this:
[code]

And ```.drone.yml``` just like @appleboy provide:
[code]

It works!!

[2017-10-23 09:32] appleboy commented on #74
Drone have the same result if you use `scp_key` or `ssh_key`

see: https://github.com/appleboy/drone-scp/blob/master/main.go#L65

[2017-11-02 15:08] vishal24tuniki commented on #75
@Blackrose It supports all these secrets, you don't need plain texts https://github.com/appleboy/drone-scp/blob/master/main.go#L29

[2017-11-03 09:45] vishal24tuniki opened #76 "drone-scp not working with --key-path"
[code]

But when i do
[code]
It works

[2017-11-03 16:14] vishal24tuniki commented on #76
Hey @appleboy, did u get a chance to look at the issue?

[2017-12-02 13:32] Blackrose commented on #75
Thanks.I will try it.

[2017-12-02 13:32] #75 closed

[2017-12-02 14:10] appleboy commented on #74
@scippio any updates on this?

[2017-12-17 15:52] b12f commented on #64
It would be great if this were mentioned in the docs, I just spent an hour or two searching for this before going through the issues by hand.

[2017-12-18 01:49] appleboy commented on #64
@b12f See https://github.com/drone/drone-plugin-index/pull/81 and the latest document [here](https://github.com/appleboy/drone-scp/blob/master/DOCS.md)

[2017-12-18 09:45] b12f commented on #64
@appleboy looks great! Also, thanks for writing the plugin.

[2018-03-27 14:28] maximelebastard opened #78 "Option to not use SSH"
Some SCP servers containers, for security reasons, allow to be used with scp only. We can't do any ssh command on it. This is done using [rssh](http://www.pizzashack.org/rssh/).
This is the case of [eeacms/scp-server](https://hub.docker.com/r/eeacms/scp-server/) for example.

It causes drone-scp to fail on the first directory creation called [here](https://github.com/appleboy/drone-scp/blob/7a88a7

[2018-04-16 17:05] rajWT commented on #74
@appleboy how to pass envrionment variables for "appleboy/drone-scp" image when using in drone.yml file ?

[2018-04-17 05:53] appleboy commented on #74
@rajWT see http://docs.drone.io/manage-secrets/

[2018-04-17 05:53] #74 closed

[2018-05-09 19:21] andruwa13 opened #79 "add sudo privileges"
execute the command using sudo

[2018-07-07 08:43] WindGreen commented on #64
I have config:
`target:
  - /root/project
source:
  - run.sh
  - config/dev/conf`

I want:
`/root/project/run.sh
/root/project/conf`

When I use strip_components=2, the "run.sh" file is missed

So I suggest to use a bool param to decide whether tar parent directory  when tar files
-------------

When I have config:
`  target:
      - /home/deploy/web1
      - /home/deploy/web2
    source:
      -

[2018-07-24 10:45] CupCakeArmy opened #81 "Very slow deployment"
This may not be an Issue, but the deployment is taking veeery long.

<img width="758" alt="screen shot 2018-07-24 at 12 44 52" src="https://user-images.githubusercontent.com/14948823/43133535-6ef3559e-8f3f-11e8-8c09-ea51b392c9b5.png">

Is this normal? the server itself is pretty fast and the connection should not be the issue.
am I doing something wrong?

This is the source file used:
[code]

[2018-08-24 05:14] fnsne commented on #74
Hello, I also got the same error "ERROR: Error response from daemon: invalid environment variable".
I have tried to add secrets by drone Web UI and drone secret add (like below)
`drone -t MY_TOKEN -s DRONE_SERVER secret add MY_REPO --name dev_key --value SSH_KEY`
But got the same error.

here is my .drone.yml.
[code]

[2018-08-24 06:26] fnsne commented on #74
I found what is wrong!  I add a '-' before the word target.
[code]
work well.

[2018-09-26 22:00] zdk123 commented on #79
I had intended to launch a similar issue, but (from within docker or drone) specifying the user as 'root' seems to take care of file permissions issues at the target directory.

[2018-11-13 03:27] weisd opened #84 "1.0.0-rc.1 missing ssh config (Host, Username)"
when I use drone 1.0.0-rc.1, the yml config is
[code]
then I got the error

[code]

[2018-11-13 05:36] appleboy commented on #84
I will test the new drone version asap.

[2018-11-14 17:56] replicant0wnz commented on #84
Invalid yaml, should look like this

[code]

[2018-11-15 01:06] appleboy commented on #84
@weisd Please try the @replicant0wnz solution.

[2018-11-15 01:06] #84 closed

[2018-12-05 18:17] hkeio commented on #50
+1

[2019-01-14 09:54] lddsb commented on #79
use `sudo` is not safe!

[2019-01-14 12:14] CupCakeArmy commented on #81
It probably was my server, it works fine now, i forgot about the issue I created.

[2019-01-14 12:14] #81 closed

[2019-01-18 03:16] appleboy opened #85 "Support ignore list"
yaml:

[code]

[2019-01-18 07:12] #85 closed

[2019-01-26 03:25] appleboy opened #89 "Migrate to drone 1.0 version and move to cloud.drone.io"

[2019-01-31 03:30] ozywuli commented on #74
I'm in the same boat as you with no luck. Here's my config:

[code]

[2019-01-31 04:17] appleboy commented on #74
@ozywuli what is your drone version?

[2019-01-31 05:50] ozywuli commented on #74
Hey @appleboy thanks for the prompt reply, but I actually just figured it out and it was my fault all along. I had added the secret key to Drone from my remote server when I was suppose to add the secret key from my local machine. @mebibou maybe this is your issue as well if you're still experiencing it.

[2019-02-10 20:36] rezam90 commented on #74
@appleboy, I'm having the same issue.
image: `drone/drone:1.0.0-rc.5`

[code]

and this is the `.drone.yml`:
[code]

I have a `ssh_key` named secret with my plain key as value. I'm able to connect to the VPS using the same key.

can you help?

[2019-02-14 16:17] yujiangshui commented on #74
@appleboy I have the same issue with @rezam90 here.

As we all know, use ssh key to log in a server don't have to specify a username, but if you don't set a username the drone-scp will show an error message:

[code]

After I search the code and compare with drone-ssh's code, I find this line [L193](https://github.com/appleboy/drone-scp/blob/75d2ee1e105b8fd0d89399475e67746aa99396bc/plugin.go#L193)

[2019-02-16 08:02] yiranzai commented on #84
@appleboy
@replicant0wnz
I have encountered this error
I use drone 1.0.0-rc.5, the yml config is
[code]
then I got the same error

[code]

[2019-02-16 08:41] appleboy commented on #84
Please try the plain text like below:

[code]

[2019-02-17 14:16] appleboy commented on #74
@yujiangshui I will take it tomorrow or next week.

[2019-02-28 12:50] v7lin opened #90 "i want to use drone-scp copy files from ssh-server to drone-agent.I don't know what to do"

[2019-03-02 05:47] rezam90 commented on #74
@appleboy, could you fix the issue?

[2019-03-02 16:18] #89 closed

[2019-03-02 22:58] #79 closed

[2019-03-02 23:17] appleboy commented on #74
@yujiangshui @rezam90 I fixed the error `missing ssh config (Host, Username)` in #91

[2019-03-07 18:18] zdk123 opened #93 "Error doesn't trigger build failure (Drone 1.0.0-rc6)"
For example, providing an incorrect key doesn't trigger failure of the drone step:
![image](https://user-images.githubusercontent.com/2637124/53979246-4455cd00-40db-11e9-8de6-156b3893683b.png)

We shouldn't be getting a green checkmark here. Does this replicate on another system?

[2019-03-08 01:54] appleboy commented on #93
@zdk123 I will take it.

[2019-03-10 15:41] #93 closed

[2019-03-11 01:02] appleboy commented on #93
@zdk123 Please try the latest version.

[2019-03-11 21:09] zdk123 commented on #93
working now, thanks!
![image](https://user-images.githubusercontent.com/2637124/54158266-7d19dd00-4420-11e9-8310-3c7eb26273ef.png)

[2019-03-15 20:56] rakshith-ravi commented on #90
I'm facing this issue as well. @appleboy could you help us please?

[2019-03-21 12:39] Maicus opened #95 "Untar not working"
Hey I have a problem I want to deploy a file to a remote machine running RancherOS (it only has busybox running on it)

I can login, but after that it tries to untar and exits with status code 1.
[code]
Output:
[code]

Do you have any idea?

[2019-03-23 05:11] rakshith-ravi commented on #90
Hey @v7lin. I found an alternative by ssh-ing into the client system, executing scp from there to send the file back to the host drone instance and then mounting the file into the agent as a volume. Not the best way to do it, agreed, but it works. This might help you as well.

[2019-03-24 13:20] v7lin commented on #90
which docker images?

[2019-03-24 13:33] appleboy commented on #90
@v7lin What is the scenario you want to copy data from ssh-server to drone-agent?

[2019-03-24 13:53] v7lin commented on #90
i want to use drone-ssh to build iOS App, and i want to copy the result ipa to drone-agent

[2019-03-24 18:42] rakshith-ravi commented on #90
Similar situation here. I have a mac build that I send to a remote system to build, then use `drone-ssh` to execute the build and then use the (in-built) `scp` to send the built file back to my agent

[2019-03-25 01:56] v7lin commented on #90
@appleboy

example:
[code]

[2019-03-25 03:09] appleboy commented on #90
Please change the `command_timeout: 600` to `command_timeout: 10m`

[2019-03-25 03:12] appleboy commented on #90
You can merge the `build-ios` and `prepare` steps?

[code]

[2019-03-25 03:13] v7lin commented on #90
@appleboy ^_^

[2019-03-25 03:19] appleboy commented on #90
@v7lin Also add the `script_stop: true` to stop the build if fail in steps.

[2019-03-25 03:20] v7lin commented on #90
@appleboy ^_^ thanks

[2019-04-12 03:50] mrxliu opened #97 "Do the multiple host support from_secret?"
The following example(github readme.md):

[code]

But i want to like the following example, can anyone help me ?

[code]

[2019-04-12 05:40] appleboy commented on #97
@mrxliu Try the following config:

[code]

and set the `EXAMPLE_HOST` value as `example01.com,example02.com`.

[2019-04-13 05:54] mrxliu commented on #97
ok, 3q

[2019-04-13 05:55] #97 closed

[2019-07-07 16:38] Blafy opened #98 "update build status on docker hub"
The build status on https://hub.docker.com/r/appleboy/drone-scp refers to the old travis-ci builds :)

[2019-07-19 14:17] Sfinx commented on #74
In short:

1) Poor plugin docs
2) Poor plugin examples for .drone.yml
3) Really stupid tar usage => man tar -C
3) No debug (!?)

It is nearly unusable, you have allways  guess. This is what works with latest drone

[code]

[2019-09-02 21:13] artemanufrij opened #99 "How to copy just folder content?"
Hey guys,
I have a question. How can I copy just content of a folder into target?

What I need: `/var/www/drone/app/webplay/files.xyz`
What I get: `/var/www/drone/app/webplay/dist/files.xyz`

Here is my current script
[code]

best regards
Artem

[2019-09-06 20:28] theshamuel opened #101 "Doesn't work env in settings block with drone version 1"
Hi there,
I tried to use this block in .drone.yml from official docs http://plugins.drone.io/appleboy/drone-scp/:
<pre>
....
  deploy:
    image: appleboy/drone-scp:1.5-linux-amd64
    settings:
      host: `MY_SERVER`
      username: `MY_USER`
      password: test
      port: 22
      command_timeout: 2m
      target: `FILE`
      source: `FILE`
...
</pre>
**I got an error "Error: missing server

[2019-09-20 17:13] snaemi commented on #99
I ran into this situation as well. I think what you want to use is `strip_components: 1` in the `settings:` section. That's what resolved it for me.

That parameter will strip leading path elements when extracting from the tar that's transferred to the target.
 The documentation here helped me: http://plugins.drone.io/appleboy/drone-scp/

[2019-09-21 10:06] artemanufrij commented on #99
@snaemi thanks a lot! It was exactly what I needed. :1st_place_medal:

[2019-09-21 10:06] #99 closed

[2019-09-28 09:12] appleboy commented on #101
What is your drone version? 1.x?

[2019-09-28 09:33] appleboy commented on #98
Thanks. Updated.

[2019-09-28 09:33] #98 closed

[2019-09-28 09:34] appleboy commented on #95
Try the latest version.

[2019-09-28 09:34] #95 closed

[2019-09-28 12:14] theshamuel commented on #101
yup

[2019-09-28 13:29] appleboy commented on #101
Can you also try the `latest` version of drone?

The following only support 0.8 or under version.

[code]

[2019-09-28 13:52] appleboy commented on #76
@vishal24tuniki Please try the latest version.

[2019-09-28 13:52] #76 closed

[2019-09-29 13:27] theshamuel commented on #101
sure, I will try with 1.5 version

[2019-10-22 14:50] gongchao opened #103 "node_modules 传输非常慢"
传输 node_modules 非常慢，一般都需要30分钟+。

[2019-11-02 18:13] cyberb commented on #24
Could you provide an example in the documentation:
http://plugins.drone.io/appleboy/drone-scp/

[2019-11-04 03:51] appleboy commented on #24
@cyberb

See the sample in http://plugins.drone.io/appleboy/drone-scp:

[code]

I will update it.

[2019-11-04 06:08] appleboy commented on #103
@gongchao 你可以先直接透過 scp 傳輸試試看？目前沒遇過這問題。

[2019-11-04 06:08] #103 closed

[2019-11-04 06:16] appleboy commented on #24
@cyberb See: http://plugins.drone.io/appleboy/drone-scp/

[2019-11-04 06:20] appleboy commented on #90
@v7lin @rakshith-ravi Drone support mac agent in v1.0 version so you can run build in mac and copy to a remote server using drone-scp plugin. See the [Exec Runnder](https://docs.drone.io/installation/runners/exec/).

[2019-11-04 06:20] #90 closed

[2019-11-04 09:49] cyberb commented on #24
Thanks!

[2019-11-11 00:37] Denis-Evseev opened #104 "Weird error"
I am trying to download one file via SSH on my server using docker
The command looks:

[code]

It has been working well for quite a while but recently it shows an error:

[code]

It looks like something is broken on drone-scp side
Any ideas?

[2019-11-11 15:31] appleboy commented on #104
I will take it.

[2019-11-12 02:33] appleboy commented on #104
@Denis-Evseev Please try the go module

[code]

[2019-11-12 02:33] #104 closed

[2019-11-12 02:35] appleboy commented on #104
see the commit: https://github.com/appleboy/drone-scp/commit/05eba8f8091df25e94f55b08f44a9e3bb873b35c#diff-04c6e90faac2675aa89e2176d2eec7d8

[2019-11-12 02:36] appleboy commented on #101
Please reopen the issue if face the same problem.

[2019-11-12 02:36] #101 closed

[2019-11-12 19:56] Denis-Evseev commented on #104
Thank you, appleboy but still doesn't work

Added
`export GO111MODULE=on`
Before
`go get -u -v github.com/appleboy/drone-scp `

but the issue still exists

Full log:

`Exporting environment variables
Exporting TERM
Exporting PAGER
Exporting DISPLAY
Exporting CI
Exporting SEMAPHORE
Exporting SEMAPHORE_PROJECT_NAME
Exporting SEMAPHORE_PROJECT_ID
Exporting SEMAPHORE_JOB_NAME
Exporting SEMAPHORE_JOB_I

[2019-11-12 20:00] Denis-Evseev commented on #104
Please help

[2019-11-13 01:18] appleboy commented on #104
@Denis-Evseev I can't reproduce in Docker.

You can try the following steps in Docker.

[code]

[2019-11-13 23:10] Denis-Evseev commented on #104
@appleboy  - tried, no luck :(
Don't docker makes a big difference here and it looks like something is wrong in main.go
based on the error:

Can you run your test without 'master' (I can't use 'master' in my environment)
The issue appeared 5-6 days ago and my commit published 7 days worked well via drone-scp

[code]

Many thanks

[2019-11-14 04:56] appleboy commented on #104
maybe you can download the binary file [here](https://github.com/appleboy/drone-scp/releases/tag/v1.5.3).

[2019-11-14 17:19] Denis-Evseev commented on #104
@appleboy - can't use it in my system.
Also tried to download v1.5.3 - the same error

Any thoughts?

[2019-11-14 21:29] appleboy commented on #104
@Denis-Evseev

[code]

[2019-11-14 23:17] Denis-Evseev commented on #104
@appleboy I managed to fix it!
Semaphore CI uses GO 1.11. Specified version 1.13 and added `export GO111MODULE=on`
It solved the issue!

Thank you for all your help,
 it is probably the most frustrating when you can't deploy a project because of inconsistent versions or new releases...

[2019-11-15 00:37] appleboy commented on #104
@Denis-Evseev Yes, agree with your point. :)

[2019-11-18 02:42] lddsb opened #105 "ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"
![image](https://user-images.githubusercontent.com/20765867/69020564-e27e8e80-09ef-11ea-8f0c-cd6d11229739.png)

[2019-11-18 02:45] #105 closed

[2019-11-18 02:45] lddsb commented on #105
sorry, it's my fault not drone-scp

[2019-12-06 04:28] v7lin commented on #90
@appleboy 我尝试了一下 Exec Runner 其工具还不完善，而且安装工具会污染 Mac 机器的编译环境（编译 ipa），我还是坚持想要 drone-scp 支持从 ssh-server 拷贝数据到 /drone/src 编译目录下，然后借助丰富的 docker 工具完成其他自动化工作。谢谢！

[2019-12-11 16:15] tubia commented on #105
Hey @lddsb I have the same problem. Could you explain how you solved this?

[2019-12-13 01:10] lddsb commented on #105
The reason is that I changed the ssh port, please check your port

[2019-12-13 09:48] tubia commented on #105
The port is correct for me. It is probably something related to the key generation I guess. I will add more as soon as I find more info on it.

[2019-12-13 16:44] cyberb commented on #50
It would be great to have this feature, I get this (it was working fine):
[code]

[2019-12-17 18:28] hypervtechnics opened #106 "Same plugin with SFTP?"
I am using an environement with Chrooted SFTP users. There is no SSH access possible.

Maybe relates to #78

[2020-01-30 12:11] jessequinn opened #108 "Download file from a host to local or Use temporary volume"
Hi

Is it possible, or do you have a suggestion, on how to, for instance, scp a file from a host to a temp volume or directly to the local machine?

Any information would be greatly appreciated.

[2020-01-30 13:53] jessequinn commented on #108
nvm,

i ended using alpine

[code]

[2020-01-30 13:53] #108 closed

[2020-01-30 14:45] appleboy commented on #78
@maximelebastard I will add the new flag to ignore `create target folder`.

[2020-03-27 09:16] r3pek opened #110 "Can't exclude hidden files"
I'm trying to scp a bunch of files but not include hidden files from the current directory. Basically I have something like
[code]
But for some reason, the negative source for the exclude part never matches in the tar that gets generated always copying the hidden files.

[2020-03-27 13:41] appleboy commented on #110
I will take it.

[2020-04-07 19:30] gilesbradshaw opened #111 "Copying from linux to windows"
It's creating the directory but then exiting with 1 - I'm guessing that it's copying tared files and then can't untar

is it meant to work in this situation?

[2020-04-28 02:00] bibekg opened #112 "Support following symbolic links"
I have a use case where some of the files I want to SCP over are symbolic links. Since this plugin uses the `tar` command to package up the source files before transferring, the symlinks stay symlinks when they reach the destination. However `tar` supports following symlinks by passing the `-h` option. Perhaps this plugin could add a Boolean parameter (`follow_symlink`) that supplies the `-h` opti

[2020-05-18 12:38] cavejay commented on #105
@tubia did you find anything?

[2020-06-02 14:32] vinodkrishnan1310 opened #116 "Unable to pass password as secret using drone-scp in drone 0.8.0 version"
Below is the snippet of .drone.yml, I am using for drone-scp. I have added secrets SSH_USERNAME,SSH_PASSWORD in Drone UI - Secret section. Please assist here, I am stuck here.

[code]

[2020-06-02 16:26] appleboy commented on #116
@vinodkrishnan1310 What is your drone version? `secrets` only support drone `0.8` version.

[2020-06-06 23:37] darkguy2008 commented on #50
+1 to debugging, just trying to set this up and I have no idea why it says:
[code]
So I'm like, WTF?

[2020-06-28 21:41] affinage-digital commented on #111
same issue

`
tar all files into /tmp/998692313/UEZ9tPuEIK.tar
scp file to server.
create folder ***
drone-scp error:  Process exited with status 1
drone-scp rollback: remove all target tmp file
remove file UEZ9tPuEIK.tar
2020/06/28 21:37:37 Process exited with status 1
`

[2020-08-01 08:50] ai930 opened #117 "What specific path can the source file be identified?"
tar all files into /tmp/783981171/ib9AR9YwIY.tar
--
2 | tar: empty archive
3 | exit status 1

What specific path can the source file be identified?

[2020-08-02 02:55] SaneHe opened #118 "wildcard pattern of source list copy errors using drone cron"
one pipeline, same buids
1、 test server scp conf
[code]
2、preview server scp conf
[code]

#### result

test server
![image](https://user-images.githubusercontent.com/28290710/89114403-76c15080-d4ae-11ea-93a2-d56859876027.png)

preview server
![image](https://user-images.githubusercontent.com/28290710/89114410-98bad300-d4ae-11ea-8476-cfd3b131472c.png)

crone trigger wrong？

[2020-08-02 09:03] ai930 commented on #118
Can your files be uploaded to the designated remote?

[2020-08-03 01:57] SaneHe commented on #118
@ai930  yes, sure;  I just want to copy builed files;
The content of the file is correct  trigger by push;
The content of the file is wrongtrigger by cron;

[2020-08-04 13:47] ai930 commented on #118
Is the file pointed to by this source the path of the host where I installed Docker?

[2020-08-19 19:14] digitalica commented on #50
debug would be nice.  I'm stuck with an error trying to use appleboy/scp-action in a github action...

[code]

[2020-09-19 14:46] ThomasAunvik commented on #111
@gilesbradshaw @affinage-digital Hey, the pull request above will fix this issue, but there is also a workaround to it.

_Originally posted by @ThomasAunvik in https://github.com/appleboy/drone-scp/pull/119#issuecomment-694683478_

[2020-09-21 02:17] medivh-jay opened #120 "Support multiple hosts with different passwords ?"
Hello , Thanks for your scp tool ,  It saved me a lot of work!

judging from the plug-in documentation, this plugin support multiple hosts, but it seems that all hosts must have the same SSH password， can it support each host to use a different password?

Thanks!

[2020-10-23 02:31] JinlongWukong opened #121 "did it support scp files from target host to drone itself?"
we have some test report file produced on target host , want to fetch them back to drone task itself,  is this supported?

[2020-11-20 08:24] ai930 opened #122 "attempted methods [none password], no supported methods remain"
error copy file to dest: 192.168.0.2, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none password], no supported methods remain

[2021-01-15 17:11] intern opened #123 "Why not use tar -czf?"
Please use `tar -zcf xxxx.tar.gz foo bar`.  It's faster when it's used!   `z`

[2021-03-17 05:43] Frickeldave commented on #50
+1
Sitting in front of "Process exited with status 1" since hours and try to find the error by staring at the monitor.

[2021-03-21 22:17] StuartMorris0 commented on #50
Also getting this error. As we are uploading a large .tar file I can see the file being pushed onto the server. However, when creating a new folder OR using an existing folder it just errors out `Process exited with status 1`

[code]

[2021-03-30 10:28] zeronacer opened #124 "2021/03/30 10:23:07 error copy file to dest: xxxxxxxxxxxx, error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain"
[code]
It seems like the plugin doesn't use my password? This is my deploy step:
[code]
Maybe someone can help me.

[2021-03-31 07:18] zeronacer commented on #124
It seems that the plugin doesn't recognize that I want to authenticate via password because it's not shown in the list of attempted methods. Is this correct?

I tried ssh'ing through the console of the server on which my drone instance is running with the same credentials and it works fine. Thought that the fingerprinting might interfere, but after the manual connection I still get the error.

[2021-04-28 00:22] Techassi commented on #50
I'm also encountering `Process exited with status 1`. It seems like this is the case when using `rm` and the plugin tries to remove the target folder with `rm -rf <target>`. This somehow fails and thus returns an error which in turn cancels the transmission.

I tried to adjust ownership of the folder(s) with `chown` and even changed privileges to _777_ with `chmod`. To no success. When I manually

[2021-05-07 19:36] Gaz492 opened #125 "Connection refused"
I'm getting the following message on the deploy stage I have.

[code]

My build file is as follows

[code]

I tried using the scp command on the server its running on and that was able to connect so I'm not really sure what the issue is.

[2021-05-24 19:11] bluemwhitew commented on #95
Also having this issue after checking several solutions. Configuration [can be found here](https://www.github.com/bluemwhitew/blackpool-bible-tattoo-4-u.biz/blob/master/.github/workflows/deploy.yaml). 😕

[2021-06-15 09:46] #125 closed

[2021-07-05 05:32] QTTQ opened #126 "error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none password], no supported methods remain"
- name: scp
    image: appleboy/drone-scp
    settings:
      host:
        - ****.***.***.01
        - ****.***.***.02
      username: root
      password:
        from_secret:
          - ssh_password
          - ssh_password1
      port: 22
      target:
        - /home/web_temp
      source:
        - "*"
      rm: true
      when:
        branch: master"

[2021-07-05 13:25] theonedemon commented on #112
up, any news?

[2021-07-27 10:09] imkratos commented on #120
UP , I need same features, Thanks.

[2021-09-23 14:23] tim-the-arcane opened #127 "Source list wildcard doesn't seem to work"
Hi all!

I started using this image as plugin for Drone CI to deploy my Svelte app on the production web server.

[code]

It already works but it uploads the whole `build` folder instead of the **contents** of the build folder:

![image](https://user-images.githubusercontent.com/10296479/134524423-dad113dd-645a-4abf-aa15-1d4240294169.png)

Is there any setting I'm missing? Thanks a lot for taking

[2021-09-29 09:20] Wolf2789 commented on #120
Why not just add duplicate steps for hosts with different passwords?
Templating could be helpful there:
[code]

[2021-10-17 21:08] cupcakearmy opened #128 "Option to rm only contents"
The `rm` flag is great, however if that folder is mounted to a docker volume, the binding breaks. Would be great to be able to delete the contents of the folder and not the actual directory.

[2021-11-05 02:53] bbhxwl opened #129 "The win system uses commands that seem unable to be compressed into tar"
win10
tar all files into C:\Users\47013\AppData\Local\Temp\927348223\RTpNoJYgNG.tar
tar: no files or directories specified
exit status 1

[2021-11-05 15:34] tim-the-arcane commented on #127
Hi @serxoz,

indeed I got it working by adding the option `strip_components` after the other scp settings like this:

[code]

Since this change it works for me.

Maybe a better explanation of this option would help in the documentation?

[2021-11-05 16:26] serxoz commented on #127
Thank you! I'll try that :D

[2021-11-09 16:38] ambroisie opened #130 "openssh 8.8 break compatibility by default"
I recently updated my server, and with it upgraded `openssh` from 8.7 to 8.8. One of the incompatible changes from that release is disabling RSA signatures using SHA-1 by default [1]. There is currently an open bug at https://github.com/golang/go/issues/37278 relating to this, and because `drone-scp` is making use of this library, it is also affected.

The error message from `drone-scp` in such ca

[2021-11-30 02:40] Wxh16144 commented on #124
I had this problem at first, but I used `ssh_password` and it worked.

You can refer to my configuration

1. add `ssh_password` to the runner ui . (must be this name, **strictly case-sensitive**)

2. specify docker image version 1.6.3. (preferably)

3. specify the password in the `.drone.yml` file.

![image](https://user-images.githubusercontent.com/32004925/143976024-43d7f583-7464-4cac-bbaf-b2dc2

[2021-11-30 02:41] Wxh16144 commented on #126
I had this problem at first, but I used `ssh_password` and it worked.

You can refer to my configuration

1. add `ssh_password` to the runner ui . (must be this name, **strictly case-sensitive**)

2. specify docker image version 1.6.3. (preferably)

3. specify the password in the `.drone.yml` file.

![image](https://user-images.githubusercontent.com/32004925/143976024-43d7f583-7464-4cac-bbaf-b2dc2

[2021-11-30 02:41] Wxh16144 commented on #122
I had this problem at first, but I used `ssh_password` and it worked.

You can refer to my configuration

1. add `ssh_password` to the runner ui . (must be this name, **strictly case-sensitive**)

2. specify docker image version 1.6.3. (preferably)

3. specify the password in the `.drone.yml` file.

![image](https://user-images.githubusercontent.com/32004925/143976024-43d7f583-7464-4cac-bbaf-b2dc2

[2021-11-30 02:42] Wxh16144 commented on #116
I had this problem at first, but I used `ssh_password` and it worked.

You can refer to my configuration

1. add `ssh_password` to the runner ui . (must be this name, **strictly case-sensitive**)

2. specify docker image version 1.6.3. (preferably)

3. specify the password in the `.drone.yml` file.

![image](https://user-images.githubusercontent.com/32004925/143976024-43d7f583-7464-4cac-bbaf-b2dc2

[2021-12-30 08:14] GodDai commented on #129
linux
`Digest: sha256:143142ef73dcd3ce24c4c20b31cd6e2caf7456923ac431f7dce6932c8858b9e7
Status: Downloaded newer image for appleboy/drone-scp:latest
tar all files into /tmp/096136042/UgLqVwtDax.tar
tar: empty archive
exit status 1`

[2022-01-17 05:28] bbhxwl opened #131 "The path is incorrect."
I execute the following code to put all the files under /root/Web/ under /var/www/ , and I finally get /var/www /root/Web/

drone-scp --host **** --port 2222 --username ${{ secrets.SSH_USERNAME }} --password ${{ secrets.AIDELIPWD }} --target /var/www/ --source /root/web/

[2022-01-24 07:10] geek-at commented on #131
having the same problems. So i either have to push from root (``source: ./``) but then it also pushes all of .git and the drone.yml itself, or push `source: web` and then have the folder "web" add on my target folder. Quite annoying

[2022-01-27 21:17] rlintott opened #132 "getKeyFile error: ssh: no key found"
I'm using Tekton and trying to scp to a server using the image `docker.io/appleboy/drone-scp:latest`

[code]

But I am getting this output:

[code]

Thanks

[2022-02-17 14:08] deanpcmad opened #133 "Excluding files not working?"
I'm trying to exclude a few files and folders from being uploaded but it's not working.

- README.md
- .git

These are the configs I've tried

[code]

[code]

Any ideas?

[2022-03-28 08:33] #118 closed

[2022-05-04 11:36] DrBlury commented on #132
It seems to me that i faced the same issue. So bump!
I tried to load the key from an organization secret (not keyfile) - maybe that can help. You can just reply here so I can help troubleshooting.

[2022-05-04 20:27] HighScore17 opened #134 "drone-scp error but file copy success"
in the Copy files to server sections, the files are copied successfully but with an error shown below

tar all files into /tmp/635380544/KwUcbibuAf.tar
scp file to server.
create folder C:\wamp64\www\siu
untar file KwUcbibuAf.tar
remove file KwUcbibuAf.tar
drone-scp error:  Process exited with status 1
drone-scp rollback: remove all target tmp file
remove file KwUcbibuAf.tar
20[22](https://github.

[2022-06-05 20:42] lasjan opened #135 "folder created but "Process exited with status 1""
When trying to perform pretty basic upload I'm receiving
"Process exited with status 1"
However folder c:\Application\CDTEST\APK\artifacts is created.

Config is:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['6.0.x' ]
        project-id: ['CIGitHubTest']
        rid: ['win-x64']
        server-path: ['c:\Application\CDTEST\APK']
    needs: build
    ste

[2022-06-14 14:10] ambroisie commented on #130
@appleboy bump, since upstream has closed the issue with a fix.

[2022-06-15 06:19] appleboy commented on #130
@ambroisie Let me check.

[2022-06-15 07:28] #130 closed

[2022-06-15 09:37] ambroisie commented on #130
FYI still have the exact same error message when I bumped my version of `drone-scp`, so that issue might have been a red-herring.

[2022-06-16 05:11] appleboy commented on #130
@ambroisie  how do you generate your key? maybe I can try it.

[2022-06-16 07:57] appleboy commented on #135
@lasjan run scp-action in Windows?

[2022-06-16 08:24] ambroisie commented on #130
@appleboy it's a simple RSA key, 4096 bits: `ssh-keygen -b 4096` with a passphrase.

Here are the `ssh -v` logs for an example of a connection:

<details>
<summary>Logs</summary>

[code]

</details>

But with the following example script it does not work:

<details>
<summary>Script</summary>

[code]

</details>

Still the same message of `error message: ssh: handshake failed: ssh: unable to authen

[2022-08-01 02:58] mrusme opened #137 "`error: tar: unknown option -- -`"
Closing https://github.com/appleboy/scp-action/issues/83 and reopening here, because I believe it's an issue with drone-scp expecting GNU tar on the other end, which isn't always the case (OpenBSD).

[code]

[2022-08-01 03:37] mrusme commented on #137
To whomever comes across this issue: `pkg_add gtar && ln -s /usr/local/bin/gtar /usr/bin/tar` will do the trick on OpenBSD, as a workaround.

[2022-08-17 04:44] Shekhar-Shivam commented on #135
@appleboy  Yes, trying to copy files from Linux Github runner to Windows server. I get this error. Can you explain the error and provide a solution. Thanks

[2022-08-29 17:20] lasjan commented on #135
Hi, I belive i tried to set this as github action running on github remote server.

[2022-09-29 17:03] Elaniobro commented on #135
I too am experiencing the same error/issue as @Shekhar-Shivam:

self hosted github runner on linux and scp files to windows 19 server.

[2022-10-05 13:13] werewolf666 opened #138 "the [overwrite] properties why didn't work?"
## desc:
source file list:
[code]
I try 2 ways,the problem still alive.

* first way:
i compress them to  deploy.tar.gz as a one file ,then configure .drone.yaml,like this
the .drone.yaml setting:
[code]
in target dir,the name is deploy.tar.gz is exists.but everytime overwrited by drone-scp.

* second way:
 not compress them like this
[code]
in target dir,3 files is exists,but everytime overwrited

[2022-10-17 21:54] ibenedetto opened #139 "tar: empty archive exit status 1 (Windows remote -> Linux local)"
Hi,

I've been trying to make this work with no luck. I've seen on some other issue, that this error usually means the remote path does not exist or does not have access, so I tried with C:\Temp which should work, but the result is the same.

`drone-scp --host 10.253.18.48 --port 1126 --username usr_remote--password x9v5o5pPbHYwSQzo --source C:/Temp --target /tmp`

For the source I've tried differ

[2022-10-20 17:05] ibenedetto commented on #139
@appleboy any idea? I've seen many people with similar issues but no solutions. Are you still maintaining this?

[2022-10-30 20:32] shuyudao opened #140 "When the configuration parameter rm is true, an error will be generated"
settings.rm: true #**If true : Process exited with status 1** ; **If false : ✅ Successfully...**
[code]

console logs
[code]

[2022-10-31 09:32] lixh00 commented on #131
I set `strip_components` to `1` and it works.

[2022-11-30 07:48] roimdev opened #142 "error message: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"
settting
[code]

console log

[code]